name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Run tests
    runs-on: macOS-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Test
      run: |
        xcodebuild \
          -project CameraController.xcodeproj \
          -scheme CameraController \
          -destination "platform=macOS" \
          CODE_SIGNING_ALLOWED=NO \
          CODE_SIGN_IDENTITY="" \
          build test